.grid-w {
  height: 100%;
}

/* @media screen and (max-width: 1280px) and (min-width: 768px){
    .grid-h .sticky-table {
        height: 54vh !important;
    }
   }
   @media screen and (max-width: 1280px) and (min-width: 768px){
    .grid-w{
        height: 53vh !important;
    }
   } */

.pop-bg {
  background: #000000b8;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  opacity: 1;
  padding-right: 6px;
  overflow-x: hidden;
  z-index: 100000;
  overflow-y: inherit;
}
.pop-position {
  height: auto;
  background: white;
  margin: auto;
  width: 46%;
  position: fixed;

  z-index: 100000000;
  left: 0px;
  right: 0;
  bottom: 42px;
}
.grey {
  background: #ddd;
  color: #000;
}
.p-0 {
  padding: 0px !important;
}
.heading-panel {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5em 1em;
}
.heading-txt {
  font-size: 18px;
  font-weight: 600;
  height: 20px;
}
.pv-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pt-7 {
  padding-top: 7px;
}

.file-provider {
  /* margin-top: 0 !important; */
}
.right-most {
  text-align: right;
}
