<div>
  <div class="pop-bg">
  </div>
  <div class="pop-position pop-w">

    <div class="row col-md-12 p-0 grey">
      <span class="col-md-10 col-sm-10 p-0">
        <div class="heading-panel pl-10">
          <span class="text-sm text-ellipsis heading-txt flex">Client Instruction </span>
        </div>
      </span>
      <span class="pull-right text-right col-md-2 col-sm-2 pv-10 cursor" (click)="closeModal()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    </div>
    <div class="col-md-12 p-0" *ngIf="activeRow.Is_Read_By_Agent==true">
      <h4 style="text-align: center;">Are you sure you want to Accept this comment ?</h4>
      <div class="col-md-2 submitSection p-0">
        <button type="button" class="btn blue square-btn blue-hover btn-txt mr-10" (click)="closeModal()">No</button>
        <button type="button" class="btn blue square-btn blue-hover btn-txt" (click)="accept()">Yes</button>
      </div>
    </div>
    <div *ngIf="activeRow.Is_Read_By_Agent==false" class="row" style="margin: 0.5rem !important">
      <div class="col-md-12">
        <div class="form-group">
          <label style="font-weight:bold" for="">Enter Comment</label>
          <textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
        </div>
      </div>
      <div class="col-md-12">
        <!-- <button type="button" class="btn blue square-btn blue-hover btn-txt mr-10" (click)="close(false)">No</button> -->
        <button style="float: right;" type=" button" class="btn blue square-btn blue-hover btn-txt"
          (click)="accept()">Submit</button>
      </div>
    </div>
  </div>
</div>