.pop-bg {
  background: #000000b8;
  /* position: absolute; */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  opacity: 1;
  padding-right: 6px;
  overflow-x: hidden;
  z-index: 1000;
  overflow-y: inherit;
  /* z-index: 1050; */
}
.pop-position {
  /* height: 570px;
    background: white;
    margin: auto;
    width: 65%;
    position: absolute;
    -webkit-transform: translate(0, 50%);
    z-index: 20000;
    left: 0px;
    right: 0;
    bottom: 326px; */
  height: auto;
  background: white;
  margin: auto;
  width: 100%;
  position: fixed;
  /* -webkit-transform: translate(0, 50%); */
  z-index: 1000;
  left: 0px;
  right: 0;
  bottom: 43px;
}
.grey {
  background: #ddd;
  color: #000;
}
.p-0 {
  padding: 0px !important;
}
.heading-panel {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5em 1em;
}
.heading-txt {
  font-size: 18px;
  font-weight: 600;
  height: 20px;
}
.label-std {
  font-size: 13px;
  color: #000 !important;
  font-weight: bold !important;
  text-align: left;
  width: 50% !important;
  margin-bottom: 0px;
}
.label-s {
  font-size: 14px;
  color: #333 !important;
  font-weight: normal;
  text-align: left;
  width: 50% !important;
  margin-bottom: 0px;
  padding: 0;
}

#infoContainer {
  border: 1px solid;
  padding: 3rem;
  margin-top: 2rem;
  .heading {
    border-bottom: 1px solid;
    padding-bottom: 1rem;
    text-transform: capitalize;
    text-align: center;
    /* margin-bottom: 2rem; */
    font-size: 1.8rem;
    font-weight: bold;
  }
  #claimInfo {
    // border: 1px solid;
    display: flex;
    flex-direction: row;

    .col-md-4 {
      padding: 0;
      border: 1px solid #000;
      border-right: none;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      &:last-child {
        border: 1px solid #000;
      }
    }
    .col-md-12 {
      min-height: 20px;

      border-bottom: 1px solid #000;
      &:last-child {
        border: none;
      }
    }
  }
}
