.m-b-t {
  margin-top: 2px !important;
  margin-bottom: 5px;
}

.info {
  margin-left: 34%;
}

.radioBorder {
  border: 1px solid #dfdfdf;
  /* padding-left: 1rem; */
  min-height: 35px;
  display: flex;
  /* justify-content: left; */
  justify-content: left;
  align-items: center;
}
.radio-inline {
  padding-left: 1rem;
}
input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
  padding-left: 1rem;
}

form {
  width: 30%;
  margin: auto;
}

.disableDiv {
  /* background: transparent !important;
  pointer-events: none !important;
  height: 100%;
  cursor: not-allowed;
  width: 100%;
  position: absolute;
  z-index: 9999;
  opacity: 0.5;
  background: #000; */
  opacity: 0.5;
  user-select: none;
  pointer-events: none;
}
