<div class="container">
    <div class="row alignItems">
      <div class="col-md-10">
        <h1>Client User Mapping Management</h1>
      </div>
      <div class="col-md-2 addBtnContainer">
        <button style="float: right" class="btn btn-primary" (click)="openAddMappingModal()">
          <i class="fa fa-plus" aria-hidden="true"></i> Add
        </button>
      </div>
    </div>
    <div class="row table-responsive-lg" id="tableContainer">
  
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" *ngFor="let column of columnData">
              {{column.name || 'N/A'}}
              <span class="filterContainer">
                <span class="filterIcon" *ngIf="column.sorting==false" (click)="sortBy(column)">
                  <i class="fa fa-arrow-down">
                  </i>
                </span>
                <span class="filterIcon" *ngIf="column.sorting==true" (click)="sortBy(column)">
                  <i class="fa fa-arrow-up"></i>
                </span>
                &nbsp;
                <span class="filterIcon" (click)="toggleMenu(column)"> <i class="fa fa-filter"></i>
                </span>
              </span>
  
              <ng-container *ngIf="column.openFilter==true">
                <div class="toolTip">
                  <div class="form-group" style="font-weight: 300;font-size: 12px;">
                    <!-- <label >Filter {{column.name | lowercase}}</label> -->
                    <ng-multiselect-dropdown [placeholder]="'Select '+ column.name" [data]="column.filterList"
                      [(ngModel)]="column.filterModel" [settings]="dropdownSettings">
                    </ng-multiselect-dropdown>
                    <div class="confirmFilter">
                      <button style="float: left;margin-top: 1rem;" class="btn btn-danger btn-sm"
                        (click)="closeFilterModal(column)"><i class="fa fa-close"></i></button>
                      <button style="float: right;margin-top: 1rem;" class="btn btn-success btn-sm"
                        (click)="filterList(column)"><i class="fa fa-check"></i></button>
                    </div>
                  </div>
                </div>
              </ng-container>
            </th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list | paginate: { itemsPerPage: 10, currentPage: p }">
  
  
            <td *ngFor="let column of columnData">
              {{item[column.key] || "N/A"}}
            </td>
            <td>
              <div class="row" style="display: flex;justify-content: center;align-items: center;">
                <div class="col-md-2 actionIcons" (click)="openEditMappingModal(item)" title="Edit">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </div>
                <div class="col-md-7 p-0">
                  <div class="lockswitch">
                    <input type="checkbox" name="toggleBtn{{item['ClientUserMappingManagement_Id']}}"
                      class="lockswitch-checkbox" [(ngModel)]="item.isActive"
                      id="toggleBtn{{item['ClientUserMappingManagement_Id']}}" (change)="toogleActivate(item)">
                    <label class="lockswitch-label" for="toggleBtn{{item['ClientUserMappingManagement_Id']}}">
                      <span class="lockswitch-inner"></span>
                      <span class="lockswitch-switch"
                        [ngStyle]="{'right': item.isActive==true ? 0:null,'left': item.isActive==false ? 0:null }"></span>
                    </label>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr *ngIf="fetchingList==true && list && list.length==0">
            <td colspan="50">
              <h3 style="text-align: center;">
                Fetching records..
              </h3>
            </td>
          </tr>
          <tr *ngIf="fetchingList==false && list && list.length==0">
            <td colspan="50">
              <h3 style="text-align: center;">No records found</h3>
            </td>
          </tr>
  
        </tbody>
      </table>
    </div>
    <div class="container">
      <div style="float: right;margin-top: 1.5rem;">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  
  </div>
  
  <app-add-client-user-mapping-management *ngIf="addModal!=null" (close)="closeModal($event)">
  </app-add-client-user-mapping-management>
  <app-edit-client-user-mapping-management [user]="activeUser" *ngIf="editModal!=null" (close)="closeModal($event)">
  </app-edit-client-user-mapping-management>
  <app-delete-client-user-mapping-management [user]="activeUser" *ngIf="deleteModal!=null"
    (close)="closeDeleteModal($event)">
  </app-delete-client-user-mapping-management>