owl-dp {
  width: 100%;
  height: 25px;
  border: 1px solid #2431403b;
  padding: 5px 5px;
}
.input-group.date .input-group-addon {
  cursor: pointer;
}
.h-48 {
  height: 100%;
  min-height: 48px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .mb-45 {
    margin-bottom: 46px;
  }
}

.message-box {
  width: max-content;
  height: max-content;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.autoScroll {
    height: 428px !important;
    overflow-y: auto !important;
    margin-bottom: 10px;
}
