<app-header [title]="title"></app-header>

<div class="col-md-12 col-sm-12 col-sm-12 p-0 box-heightSD">
  <div class="col-md-12 pt-8">
    <span class="col-md-12 pull-left pl-7">
      <form [formGroup]="dashboardForm">
        <!-- <span class="pull-left mr-10 pt-5 label-std control-label b-600 w-auto">Type</span> -->
        <!-- <span class="pull-left mr-10 pt-3 wt-15">
          <select class="form-control" formControlName="dashboardType" placeholder="Select Type"
            (change)="onClientChange($event)">
            <option [value]="''">Select</option>
            <option *ngFor="let type of typeList" [value]="type">
              {{type}}
            </option>
          </select>
        </span> -->
        <div class="form-group">
          <label class=" label-std control-label p-0 b-600 pl-0" for="">Select Type</label>
          <div class="radioBorder">
            <label class="radio-inline">
              <input type="radio" name="dashboardType" value="active" formControlName="dashboardType"
                (change)="typeChange()"> Active </label>
            <label class="radio-inline">
              <input type="radio" name="dashboardType" value="inactive" formControlName="dashboardType"
                (change)="typeChange()"> InActive</label>
            <label class="radio-inline">
              <input type="radio" name="dashboardType" value="all" formControlName="dashboardType"
                (change)="typeChange()"> All</label>
          </div>
        </div>
        <!-- <span>
          <button class="mt-3 btn blue square-btn blue-hover btn-txt mr-10" data-toggle="modal"
            data-target=".account-list" (click)="selectedClient()" [disabled]="disablebtn">Search</button>
        </span> -->
      </form>
    </span>
  </div>
  <div class="col-md-12 supervisor-dash-tbl" *ngIf="show">

  </div>
</div>
<!-- Project De-activate-->
<!-- <app-project-deactivate-confirmation></app-project-deactivate-confirmation> -->

<!-- Project Re-allocation  -->
<!-- <app-project-reallocation></app-project-reallocation> -->