.radioBorder {
  /* border: 1px solid #dfdfdf;
  padding: 0.1rem 1rem 1rem 1rem; */
  /* display: flex; */
  /* justify-content: left; */
  /* align-items: flex-end; */

  border: 1px solid #dfdfdf;
  /* padding-left: 1rem; */
  min-height: 35px;
  display: flex;
  /* justify-content: left; */
  justify-content: left;
  align-items: center;
}

.radio-inline {
  padding-top: 0;
}
.control-label {
  margin: 1rem auto;
}

.input-group {
  width: 100%;
}
.input-group-addon {
  width: none;
}

.radioBorder {
  border: 1px solid #dfdfdf;
  /* padding-left: 1rem; */
  min-height: 35px;
  display: flex;
  /* justify-content: left; */
  justify-content: left;
  align-items: center;
}
.radio-inline {
  padding-left: 1rem;
  margin: 0;
}
input[type="radio"] {
  vertical-align: middle;
}