#title {
  text-align: center;
}



.newSection {
  min-height: 50px;
  width: 100%;
  border: 1px solid;
}

tr {
  color: black;
  text-align: center;
}

tr:nth-child(odd) {
  // background-color: #b7e4ff !important;
}

tr:nth-child(even) {
  // background-color: #fff !important;
}

.paddingLeft-2 {
  padding-left: 2.5rem;
}

.paddingLeft-3 {
  padding-left: 4rem;
}

.paddingLeft-4 {
  padding-left: 6.5rem;
}

.paddingLeft-5 {
  padding-left: 7rem;
}

i {
  float: left;
  cursor: pointer;
  padding: 0.2rem 0.2rem 0 0.2rem;
}

.tdItem {
  float: left;
}

.noData {
  h3 {
    margin: 0 !important;
  }

  td {
    text-align: center;
    // width: 150%;
  }
}

#tableContainer {
  // max-height: 425px !important;
  max-height: 85vh !important;
  font: 13px "open sans";
  overflow-y: scroll;
  overflow-x: hidden;
  color: #333333;
  //   overflow-y: auto;
}

th,
tr {
  font: 13px "open sans";
  font-weight: 700;
}

th {
  position: sticky;
  top: 0;
  background: #666;
  color: #fff;
  font-size: 1.1rem;
  // padding: 6px 10px;
}

th,
td {
  // padding: 0; */
  min-width: 60px;
  text-align: center !important;
  /* align-items: center; */
  /* display: grid; */
  max-width: 400px;
  padding: 0 1rem;
  /* flex-direction: column; */
  /* float: left; */
  text-transform: capitalize !important;
  border: none !important;
}

.refreshIcon {
  text-align: center;
  float: right;
}

/* color codes*/
.clientColor {
  td {
    color: #34495e !important; // black
  }
}

.managerColor {
  td {
    color: #0652dd !important; //blue
  }
}

.supervisorColor {
  td {
    color: #ed4c67 !important; //red
  }
}

.agentColor {
  td {
    // color: #009432 !important; // green
    color: #993333 !important; // dark red
  }
}

#rowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  button {
    margin-top: 2rem;
  }
}

.fetchingMsg {
  text-align: center;

  i {
    width: 100%;
    text-align: center;
  }
}

.monthFilter {
  min-width: 202px;
  display: flex;
  align-items: center;
  border: 1px solid #2431403b;
  min-height: 25px;
  margin-bottom: 0rem;
  text-align: right;
  padding-left: 1rem;

  span {
    float: right;
    text-align: right;
    position: absolute;
    right: 5%;
  }
}

/*
  the ability to concentrate single-mindedly on your
  most important task, to do it well and to finish it completely, is the
  key to great success, achievement, respect, status and happiness in
  life
  */

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 36px;
}

.textAlignLeft {
  text-align: left !important;
}

.orderBtn {
  padding: 0.5rem 1rem !important;
  border: none;
  margin-left: 1rem;
}

.input-group-prepend,
.input-group-append {
  // margin-left: 0.5rem !important;
  // max-height: 25px !important;
  // background: #cfcfcf;
  // padding: 0.1rem 1rem 0 1rem;
  // background: transparent !important;
  // color: #666 !important;
}
.searchBtn {
  background: transparent !important;
  color: #666 !important;
  border-color: #666 !important;
}
// .input-group-prepend {
//   font-size: 1.5rem !important;
//   justify-content: center;
//   align-items: center;
// }
.input-group-append {
  background: #cfcfcf !important;
  border: none !important;
}

th {
  z-index: 99999999 !important;
}

label {
  margin-bottom: 0 !important;
  input[type="checkbox"] {
    vertical-align: middle;
  }
}
