<app-header [title]="title"></app-header>

<div class="col-md-12 col-sm-12 col-sm-12 p-0 box-heightSD">
  <div class="col-md-12 pt-8">
    <span class="col-md-12 pull-left pl-7">
      <form [formGroup]="dashboard">
        <span class="pull-left mr-10 pt-5 label-std control-label b-600 w-auto">Client List</span>
        <span class="pull-left mr-10 pt-3 wt-15">
          <select class="form-control" formControlName="ClientId" (change)="getClientName()">

            <option [selected]="ClientList.length>1" disabled>Select</option>
            <option *ngFor="let Client of ClientList" [value]="Client.Client_Id" [selected]="Client.selected">
              {{Client.Client_Name}}
            </option>

          </select>
        </span>
        <span>
          <button class="mt-3 btn blue square-btn blue-hover btn-txt mr-10" data-toggle="modal"
            data-target=".account-list" (click)="search()" [disabled]="!dashboard.valid">Search</button>

        </span>
      </form>
    </span>
  </div>
  <div class="col-md-12 supervisor-dash-tbl">
    <label class="error" *ngIf="submitStatus==false && (dashboardData==null || dashboardData.length==0)">There is no
      Data
      for Client :-
      {{ Client_Name}}</label>
    <div class="" style="border:0px solid #000;">

      <!-- <div class="sticky-table sticky-ltr-cells border-0 table-hight super-dash-table"
        *ngIf="dashboardData!=null && dashboardData.length>0"> -->
      <div class="sticky-table sticky-ltr-cells border-0 table-hight super-dash-table"
        *ngIf="dashboardData!=null && dashboardData.length>0">
        <!-- <table class="table" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <th class="clientnames " colspan="7" width="250">Client Name : {{clientName  }}
              </th>
            </tr>
            <tr class="border-t">
              <ng-container *ngFor="let key of keyList">
                <th class="dark" *ngIf="key!='Id'" rowspan="2" style="min-width: 150px"> {{key}}</th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let data of dashboardData">
              <tr class="t-bold">
                <ng-container *ngFor="let key of keyList">
                  <td (click)="opeAllocatedCount(data,key)" *ngIf="key!='Id' && data.Bucket_Label!='Allocated ##'"
                    class="">
                    <span *ngIf="key=='Bucket_Label' || (data[key]!=null && data[key]!=0)">
                      {{data[key]}}
                    </span>
                    <span *ngIf="data[key]==0">
                      {{"-"}}
                    </span>
                  </td>
                  <td (click)="opeAllocatedCount(data,key)" *ngIf="key!='Id' && data.Bucket_Label=='Allocated ##'"
                    [ngStyle]="{'text-decoration': data.Bucket_Label=='Allocated ##' ? 'underline':'none','color': data.Bucket_Label=='Allocated ##' ? 'blue':'#000'}"
                    class="">
                    {{data[key]}}
                  </td>
                </ng-container>
              </tr>
            </ng-container>

          </tbody>
        </table> -->
        <table>
          <tr>
            <th rowspan="2">Buckets</th>
            <th rowspan="2">To Be Concluded</th>
            <th rowspan="2">Rejections</th>
            <th colspan="2">Paid</th>
            <th colspan="4">Denials</th>
            <th colspan="4">No Response</th>
          </tr>
          <tr>
            <th>EOB Available</th>
            <th>No EOB</th>


            <th>Provider Issue</th>
            <th>Payer Issue</th>
            <th>Patient Issue</th>
            <th>Coding Issue</th>


            <th>Website</th>
            <th>IVR</th>
            <th>Fax</th>
            <th>Calling</th>
          </tr>

          <tr class="t-bold" *ngFor="let data of dashboardData">
            <td> {{data.Bucket_Label  }} </td>

            <td (click)="opeAllocatedCount(data,'To_Be_Concluded')"
              [ngStyle]="{'text-decoration': data.Bucket_Label=='Allocated ##' ? 'underline':'none','color': data.Bucket_Label=='Allocated ##' ? 'blue':'#000'}">
              {{data.To_Be_Concluded  }} </td>

            <td (click)="opeAllocatedCount(data,'Rejections')"
              [ngStyle]="{'text-decoration': data.Bucket_Label=='Allocated ##' ? 'underline':'none','color': data.Bucket_Label=='Allocated ##' ? 'blue':'#000'}">
              {{data.Rejections  }} </td>

            <td (click)="opeAllocatedCount(data,'Paid_EOB_Availble')"
              [ngStyle]="{'text-decoration': data.Bucket_Label=='Allocated ##' ? 'underline':'none','color': data.Bucket_Label=='Allocated ##' ? 'blue':'#000'}">
              {{data.Paid_EOB_Availble  }}
            </td>

            <td (click)="opeAllocatedCount(data,'Paid_NO_EOB')"
              [ngStyle]="{'text-decoration': data.Bucket_Label=='Allocated ##' ? 'underline':'none','color': data.Bucket_Label=='Allocated ##' ? 'blue':'#000'}">
              {{data.Paid_NO_EOB  }}
            </td>

            <td (click)="opeAllocatedCount(data,'Denials_Provider_Issue')"
              [ngStyle]="{'text-decoration': data.Bucket_Label=='Allocated ##' ? 'underline':'none','color': data.Bucket_Label=='Allocated ##' ? 'blue':'#000'}">
              {{data.Denials_Provider_Issue  }} </td>

            <td (click)="opeAllocatedCount(data,'Denials_Payer_Issue')"
              [ngStyle]="{'text-decoration': data.Bucket_Label=='Allocated ##' ? 'underline':'none','color': data.Bucket_Label=='Allocated ##' ? 'blue':'#000'}">
              {{data.Denials_Payer_Issue  }} </td>
            <td (click)="opeAllocatedCount(data,'Denials_Patient_Issue')"
              [ngStyle]="{'text-decoration': data.Bucket_Label=='Allocated ##' ? 'underline':'none','color': data.Bucket_Label=='Allocated ##' ? 'blue':'#000'}">
              {{data.Denials_Patient_Issue  }} </td>
            <td (click)="opeAllocatedCount(data,'Denials_Coding_Issue')"
              [ngStyle]="{'text-decoration': data.Bucket_Label=='Allocated ##' ? 'underline':'none','color': data.Bucket_Label=='Allocated ##' ? 'blue':'#000'}">
              {{data.Denials_Coding_Issue  }} </td>
            <td (click)="opeAllocatedCount(data,'No_Response_Website')"
              [ngStyle]="{'text-decoration': data.Bucket_Label=='Allocated ##' ? 'underline':'none','color': data.Bucket_Label=='Allocated ##' ? 'blue':'#000'}">
              {{data.No_Response_Website  }} </td>
            <td (click)="opeAllocatedCount(data,'No_Response_IVR')"
              [ngStyle]="{'text-decoration': data.Bucket_Label=='Allocated ##' ? 'underline':'none','color': data.Bucket_Label=='Allocated ##' ? 'blue':'#000'}">
              {{data.No_Response_IVR  }} </td>
            <td (click)="opeAllocatedCount(data,'No_Response_Fax')"
              [ngStyle]="{'text-decoration': data.Bucket_Label=='Allocated ##' ? 'underline':'none','color': data.Bucket_Label=='Allocated ##' ? 'blue':'#000'}">
              {{data.No_Response_Fax  }} </td>
            <td (click)="opeAllocatedCount(data,'No_Response_Calling')"
              [ngStyle]="{'text-decoration': data.Bucket_Label=='Allocated ##' ? 'underline':'none','color': data.Bucket_Label=='Allocated ##' ? 'blue':'#000'}">
              {{data.No_Response_Calling  }} </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <app-allocated-count-modal *ngIf="showAllocatedCountModal==true" [AllocatedCountsData]="activeAllocatedCount"
    (close)="closeAllocatedCount()">
  </app-allocated-count-modal>