.sticky-table {
    height: 80vh;
    /* height: 80vh !important; */
    border: none !important;
}

table {
    /* border-color: #000 !important; */
    border: 2px solid #000 !important;
}

th {
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-color: #000 !important;
    padding: 8px 0px;
    font-weight: 600;
    background: #ffe699;
    font-weight: bold;
    text-align: center;
    max-width: 50px !important;
    min-width: 50px !important;
}

td {
    border: none !important;
    font-weight: bold !important;
    border-right: 2px solid #000 !important;
    max-width: 50px !important;
    min-width: 50px !important;
}