<app-header [title]="Title"></app-header>

<div class="container-fluid p-0">

  <div class="row p-0">
    <div class="row col-md-12 col-sm-12 col-xs-12 mt-10">
      <div class="search-grid">
        <span class="pull-left mr-10 pt-3 label-std control-label b-600 w-auto">Client List</span>
        <span class="pull-left mr-10 pt-3">
          <select (change)="ClientOnChange($event)" [(ngModel)]="ClientId" #selectedelem class="form-control">
            <option value="0" disabled>Select</option>
            <option *ngFor="let c of ClientList" [value]="c.Client_Id" [selected]="c.selected">{{c.Client_Name}}
            </option>
          </select>
          <div class="error" *ngIf="selecterror">
            Please select the client
          </div>
        </span>

      </div>
      <div class="search-grid1 pt-3">
        <button (click)="GetDenialCodeList('Search');" [disabled]="searchBtnDisable"
          class="btn blue square-btn blue-hover btn-txt mr-10">Search</button>
        <button (click)="onAddClicked()" id="openModal" class="btn blue square-btn blue-hover btn-txt">Add Denial
          Code</button>
      </div>
      <!-- data-toggle="modal" data-target=".add-denial-code" -->

      <div class="offset-md-3 col-md-8 p-0">
        <span class="form-group file-provider mt-10">
          <!-- <form class="form"> -->
          <div class="file-upload-wrapper" [attr.data-text]="Filename">
            <input name="file-upload-field" #filedata type="file" accept=".xlsx" class="file-upload-field"
              (change)="changeListener($event)">
          </div>
          <label class="error" *ngIf="validated && !fileSelected">Please select the file</label>
          <!-- </form> -->
        </span>
        <span>
          <!-- <label  class="mt-10 pr-upl label grey lg-text label-info square-btn cursor"><button class=" mr-10 fa fa-upload mr-5 lg-text"> Upload</button></label> -->
          <button type="button" (click)="FileUpload()" [disabled]="uploadBtnDisable"
            class="btn pr-upl label grey lg-text label-info square-btn cursor mr-10 mt-10" style="border: none;">
            <i class="fa fa-upload mr-5 lg-text" aria-hidden="true"></i>Upload</button>
        </span>

        <div class="p-0 mt-10" (click)="downloadTemplate()">
          <button type="button" [disabled]="downloadTemplateDisable"
            class="export-btn btn label grey lg-text label-info square-btn cursor mt-0  mr-10" style="border: none;">
            <i class="fa fa-download mr-5 lg-text" aria-hidden="true"></i>Download Template</button>
        </div>
        <span>
          <button type="button" style="border: none;" [disabled]="exportBtnDisable"
            class="export-btn btn label grey lg-text label-info square-btn cursor mr-10 mtb-10"
            (click)="exportToExcel()">
            <i class="fa fa-file-excel-o mr-5" aria-hidden="true"></i>Export To Excel </button>
        </span>
      </div>

    </div>
    <div class="col-md-12 col-sm-12 mt-10">
      <div class="col-md-12 col-sm-12 p-0">
        <div class="heading-panel sT-hight p-0">
          <span class="text-sm text-ellipsis heading-txt t-uppercase blue-text">Denial Code List</span>
          <div class="right-most">Total Rows:- <b>{{rowData == null ? '0' : rowData.length}}</b></div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 p-0">
        <div class="table-responcive">

          <div class="sticky-table sticky-ltr-cells border-0 table-hight">
            <ag-grid-angular [enableSorting]="true" [enableColResize]="true" [enableFilter]="true" [pagination]="true"
              [paginationPageSize]="15" class="ag-theme-balham grid-w" [rowData]="rowData" [columnDefs]="columnDefs"
              [rowSelection]="RowSelection" [suppressColumnVirtualisation]="true" [suppressDragLeaveHidesColumns]="true"
              (firstDataRendered)="autoSizeAll()" [suppressDragLeaveHidesColumns]="true"
              (gridReady)="onGridReady($event)" (rowClicked)="OnRowClicked($event)">
            </ag-grid-angular>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<app-denial-code-modal (Toggle)="ToggleModal($event)" (getdenilcodeDatas)="GetDenialCodeList($event)"
  *ngIf="DisplayModal" [onAdd]="onAdd" [onEdit]="onEdit" [SelectedDenialCode]="SelectedDenialCode">
</app-denial-code-modal>

<!-- (Toggle)="ToggleModal($event)" -->