.owl-dp {
  width: 100%;
  height: 25px;
  border: 1px solid #2431403b;
  padding: 5px 5px;
  color: black !important;
}

.label-std {
  margin-top: 1.25rem;
}

.alignFromTop {
  margin-top: 1rem;
}
ng-multiselect-dropdown {
  min-width: 200px !important;
  /* padding: 0.4rem; */
}

.dropdown-btn {
  padding: 0.3rem !important;
  min-width: 200px !important;
}
