<div class="pop-bg">
</div>
<div class="pop-position">
  <div>
    <div class="col-md-12 p-0 grey">
      <span class="col-md-10 col-sm-10 p-0">
        <div class="heading-panel pl-10">
          <span class="text-sm text-ellipsis heading-txt flex">Add PCN </span>
        </div>
      </span>
      <span class="pull-right text-right col-md-2 col-sm-2 pv-10 cursor" (click)="CloseModal()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    </div>
    <div class="col-md-12 p-0">
      <div class=" mb-0 pb-0">
        <div class="col-md-12 p-0 mt-10">
          <button id="addItem"
            [ngStyle]="{'cursor':disableBtn==true ? 'not-allowed':'pointer','opacity':disableBtn==true ? 0.5:1}"
            [disabled]="disableBtn" (click)="addPCN()">Add PCN
          </button>
          <form [formGroup]="addPCNForm">
            <div class="pcnList col-md-12" formArrayName="pcnList"
              *ngFor="let pcnItem of addPCNForm.get('pcnList').controls; let pcnIndex = index;">
              <h5 style="font-weight: bolder">#PCN{{pcnIndex+1}}</h5>
              <div [formGroupName]="pcnIndex" class="row">
                <div class="col-md-3 col-sm-6 col-xs-6" formArrayName="pcn"
                  *ngFor="let item of pcnItem.get('pcn').controls; let pcnItemIndex = index;">
                  <ng-container [formGroupName]="pcnItemIndex">
                    <ng-container *ngIf="item.controls.FieldValue as fieldValueControl">
                      <!-- show if Textbox -->
                      <div class="form-group" *ngIf="item.controls.FieldType.value=='Textbox'">
                        <label for="field{{pcnIndex}}{{pcnItemIndex}}">{{item.controls.Display_Header.value}}</label>
                        <input class="form-control" id="field{{pcnIndex}}{{pcnItemIndex}}" formControlName="FieldValue"
                          placeholder="{{item.controls.Display_Header.value}}"
                          [ngClass]="{'input-error' : (fieldValueControl.dirty==true || fieldValueControl.touched==true) && fieldValueControl.errors && (fieldValueControl.errors.required==true || fieldValueControl.errors.incorrect==true) }"
                          (keyup)="checkIfAlreadyExist(fieldValueControl, i)">
                        <label
                          *ngIf="(fieldValueControl.dirty==true || fieldValueControl.touched==true) && fieldValueControl.errors"
                          class="error" for="">
                          <span *ngIf="fieldValueControl.errors.required==true">
                            {{item.controls.Display_Header.value}} is required
                          </span>
                          <span *ngIf="fieldValueControl.errors.incorrect==true">
                            {{item.controls.Display_Header.value}} Already Exists
                          </span>
                        </label>
                      </div>

                      <!-- show if Numeric -->
                      <div class="form-group" *ngIf="item.controls.FieldType.value=='Numeric'">
                        <label for="field{{pcnIndex}}{{pcnItemIndex}}">{{item.controls.Display_Header.value}}</label>
                        <input type="number" min="0" class="form-control" id="field{{pcnIndex}}{{pcnItemIndex}}"
                          formControlName="FieldValue" placeholder="{{item.controls.Display_Header.value}}"
                          [ngClass]="{'input-error' : (fieldValueControl.dirty==true || fieldValueControl.touched==true) && fieldValueControl.errors && (fieldValueControl.errors.required==true || fieldValueControl.errors.incorrect==true) }"
                          (keyup)="checkIfAlreadyExist(fieldValueControl, i)">
                        <label
                          *ngIf="(fieldValueControl.dirty==true || fieldValueControl.touched==true) && fieldValueControl.errors"
                          class="error" for="">
                          <span *ngIf="fieldValueControl.errors.required==true">
                            {{item.controls.Display_Header.value}} is required
                          </span>
                          <span *ngIf="fieldValueControl.errors.incorrect==true">
                            {{item.controls.Display_Header.value}} Already Exists
                          </span>
                        </label>
                      </div>

                      <!-- show if dropdown -->
                      <div class="form-group" *ngIf="item.controls.FieldType.value=='Dropdown'">
                        <label for="field{{pcnIndex}}{{pcnItemIndex}}">{{item.controls.Display_Header.value}}</label>
                        <select class="form-control" name="field{{pcnIndex}}{{pcnItemIndex}}"
                          id="field{{pcnIndex}}{{pcnItemIndex}}" formControlName="FieldValue">
                          <option [value]="''">Select Column Data Type</option>
                          <option [value]="'Text'">Text</option>
                          <option [value]="'Numeric'">Numeric</option>
                          <option [value]="'Date'">Date</option>
                        </select>
                        <label
                          *ngIf="(fieldValueControl.dirty==true || fieldValueControl.touched==true) && fieldValueControl.errors"
                          class="error" for="">
                          {{item.controls.Display_Header.value}} is required
                        </label>
                      </div>
                      <!-- show if date -->
                      <div class="form-group" *ngIf="item.controls.FieldType.value=='Date'">
                        <label for="field{{pcnIndex}}{{pcnItemIndex}}"></label>
                        <input name="field{{pcnIndex}}{{pcnItemIndex}}" type="text" class="form-control"
                          formControlName="FieldValue">
                        <div class=''>
                          <input autocomplete="off" (keydown)="BlockInput($event)" (keypress)="BlockInput($event)"
                            class="form-control" formControlName="" [type]="'text'" [name]="'field'+i" [id]="'field'+i"
                            [owlDateTime]="dt" [owlDateTimeTrigger]="dt" (change)="dateTimeChange($event,field)">
                          <owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>
                        </div>

                    </ng-container>
                    <!-- <div class="col-md-2 removeContainer" *ngIf="pcnList && pcnList.length>1">
                      <span class="removeItem" (click)="removeItem(i)">remove</span>
                    </div> -->

                  </ng-container>
                </div>
              </div>

            </div>
          </form>

        </div>
        <div class="col-md-12 footerSection">
          <div class="form-group col-md-offset-10 col-md-2">
            <button type="button" class="btn blue square-btn blue-hover btn-txt mr-5" (click)="CloseModal()">
              Cancel
            </button>
            <button type="button" (click)="saveFields()" class="btn blue square-btn blue-hover btn-txt"
              [disabled]="!addPCNForm.valid">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>