/* @media screen and (max-width: 1280px) and (min-width: 768px){
    .grid-h .sticky-table {
        height: 54vh !important;
    }
   }
   @media screen and (max-width: 1280px) and (min-width: 768px){
    .grid-w{
        height: 53vh !important;
    }
   } */

.pop-bg {
  background: #000000b8;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  opacity: 1;
  padding-right: 6px;
  overflow-x: hidden;
  z-index: 100000;
  overflow-y: inherit;
}

.pop-position {
  height: auto;
  background: white;
  margin: auto;
  width: 75%;
  position: fixed;
  z-index: 100000000;
  left: 0px;
  right: 0;
  top: 5%;
  /* min-height: 300px; */
}

.grey {
  background: #ddd;
  color: #000;
}

.p-0 {
  padding: 0px !important;
}

.heading-panel {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5em 1em;
}

.heading-txt {
  font-size: 18px;
  font-weight: 600;
  height: 20px;
}

.pv-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pt-7 {
  padding-top: 7px;
}

input {
  // margin: 0.5rem;
  // padding: 0.5rem;
}

select {
  // margin: 0.5rem;
  // padding: 0.5rem;
  // width: 100%;
}

form {
  min-height: 50vh;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;

  .form-group {
    min-height: 75px;
  }

  /* width: 55%;
    margin: auto; */
}

.removeItem {
  color: #e74c3c;
  text-transform: capitalize;
  border: 1px solid;
  padding: 0.5rem;
  cursor: pointer;
  margin: 0.5rem;
}

#addItem {
  float: right;
  margin-right: 3.5rem;
  padding: 0.5rem;
  background: #27ae60;
  color: #fff;
  border: #27ae60;
  cursor: pointer;
}

.input-error {
  border: 1px solid #e74c3c;
}

.removeContainer {
  display: flex;
  justify-content: end;
  align-items: center;
}

.pcnList {
  // border: 1px solid;
}

.footerSection {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cfcfcf;

  .form-group {
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

.myBackdropClass {
  background: red;
  color: blue;
}

.myPanelClass {
  background: green;
  color: yellow;
}

.keyItem {
  border: 1px solid #cfcfcf;
  margin: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  label {
    cursor: pointer;
  }
  h6 {
    margin: 0;
  }
}

input::-webkit-input-placeholder {
  color: #6c75a7 !important;
}
