<div class="pop-bg">
</div>
<div class="pop-position" (contextmenu)="DisableRightClick($event)">
  <div class="col-md-12 p-0 grey">
    <span class="col-md-10 col-sm-10 p-0">
      <div class="heading-panel">
        <span class="text-sm text-ellipsis heading-txt flex">PDF Viewer</span>
      </div>
    </span>
    <span class="pull-right text-right col-md-2 col-sm-2 pv-10 cursor" (click)="Close()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </span>
  </div>
  <div class="col-md-12 p-0 mt-10 mb-10">
    <object (contextmenu)="DisableRightClick($event)" [data]="sanitizer.bypassSecurityTrustResourceUrl(InputUrl)"
      class="pdf-h">
    </object>
  </div>