.owl-dp {
  width: 100%;
  height: 25px;
  border: 1px solid #2431403b;
  padding: 5px 5px;
}
.input-group.date .input-group-addon {
  cursor: pointer;
  color: #666;
  background-color: #ddd;
  border: 1px solid #ccc;
  padding: 0px 8px;
  font-size: 12px;
  height: 25px;
  border-radius: 0px;
}
.h-48 {
  height: 100%;
  min-height: 48px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .mb-45 {
    margin-bottom: 46px;
  }
}

.message-box {
  width: max-content;
  height: max-content;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

/*dropdown bucket*/
.dropdown-menu {
  display: none;
  position: absolute;
  left: -10px;
  padding: 0px;
  background: #666;
  border: 0px;
}
a.dropdown-toggle:focus,
a.dropdown-toggle:active {
  /* background: #f2f2f2; */
}
a.dropdown-toggle:focus + .dropdown-menu,
a.dropdown-toggle:active + .dropdown-menu {
  display: block;
}
.dropdown-menu:hover {
  display: block;
}
.dropdown {
  background: none;
  border: 0px solid #ccc;
  border-radius: 0px;
  width: 100%;
}
.dropdown-a {
  padding: 0px;
  color: #fff;
  margin: 0px;
  line-height: 10px;
  font-size: 12px;
}
.dropdown-a:hover,
.dropdown-a:focus {
  text-decoration: none;
}
.dropdown ul.dropdown-menu {
  border-radius: 0px;
  box-shadow: none;
  margin-top: 10px;
  width: auto;
}
.dropdown-menu > li > a {
  color: #fff;
  padding: 0px;
}
.dropdown-menu > li {
  width: 100%;
}
.dropdown-menu > li > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
.dropdown-menu > li:hover > a {
  color: #fff !important;
}
.dropdown ul.dropdown-menu:before {
  content: "";
  border-bottom: 0px solid #666;
  border-right: 0px solid transparent;
  border-left: 0px solid transparent;
  position: absolute;
  top: -10px;
  left: 16px;
  z-index: 10;
}
.dropdown ul.dropdown-menu:after {
  display: none;
}
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.floatingBtn {
  position: fixed;
  right: 2%;
  bottom: 7%;
  .userImage {
    width: 40px;
    cursor: pointer;
  }
  .buttonWithIcon {
    border-radius: 50%;
    height: 25px;
    background-color: #666666;
    width: 25px;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    i {
    }
  }
}

// .buttonContainer{

// }

.callIconDiv {
  // width: 87px;
  // border: 1px solid;
  // display: flex;
  // flex: 1;
  // justify-content: center;
  // flex-direction: column;
  // align-items: center;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.callImage {
  // max-height: 70px;
  /* max-width: 70px; */
  // display: flex;
  cursor: pointer;
  display: inline-block;
  margin-top: 1rem;
  margin-right: 8px;
  /* position: absolute; */
  /* left: -2rem; */
  /* top: 0; */
  // align-items: center;
  // justify-content: center;
  img {
    height: 30px;
    width: 30px;
  }
}

.agent-field-ht .auto-scroll-section {
  height: 75vh !important;
}

.not-cl {
  position: absolute;
  top: 5px;
  right: 2px;
  margin-left: 1rem;
  font-style: normal;
  z-index: 1;
}

.disableBtn {
  /* user-select: none; */
  pointer-events: none;
  /* cursor: not-allowed; */
}