.pop-bg {
  background: #000000b8;
  /* position: absolute; */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  opacity: 1;
  padding-right: 6px;
  overflow-x: hidden;
  z-index: 1000;
  overflow-y: inherit;
  /* z-index: 1050; */
}

.pop-position {
  /* height: 570px;
    background: white;
    margin: auto;
    width: 65%;
    position: absolute;
    -webkit-transform: translate(0, 50%);
    z-index: 20000;
    left: 0px;
    right: 0;
    bottom: 326px; */
  // height: auto;
  background: white;
  margin: auto;
  width: 65%;
  position: absolute;
  /* -webkit-transform: translate(0, 50%); */
  z-index: 1000;
  left: 0px;
  right: 0;
  top: 5%;
  /* bottom: 43px; */
}

#addFormContainer {
  width: 100%;
  position: relative;

  max-height: 70vh;
  overflow-y: auto;

  .container {
    max-width: 100% !important;
  }

  .halfDiv {
    // border: 1px solid;
    float: left;
    width: 50%;
    display: flex;
    flex: 1;
    flex-direction: row;
  }
}
.form-control {
  // display: block;
  // width: 100%;
  // height: 34px;
  // padding: 6px 12px;
  // font-size: 14px;
  // line-height: 1.42857143;
  // color: #555;
  // background-color: #fff;
  // background-image: none;
  // border: 1px solid #ccc;
  // border-radius: 4px;
  // -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  // box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  // -webkit-transition: border-color ease-in-out 0.15s,
  //   -webkit-box-shadow ease-in-out 0.15s;
  // -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  // transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#footerSection {
  text-align: center;

  .row {
    float: right;
    margin: 1rem 2rem;
    button {
      margin: 0 0.5rem;
    }
  }
}

.has-error {
  color: #a94442 !important;
  border-color: #a94442 !important;
}

// /* .multiselect-dropdown .dropdown-btn {
//   display: inline-block;
//   border: 1px solid #adadad;
//   width: 100%;
//   padding: 6px 12px;
//   margin-bottom: 0;
//   font-size: 12px;
//   font-weight: 400;
//   line-height: 1.1;
//   text-align: left;
//   vertical-align: middle;
//   cursor: pointer;
//   background-image: none;
//   border-radius: 4px;
// } */
.form-group {
  min-height: 75px !important;
  margin-bottom: 0 !important;
}
