<div class="pop-bg">
</div>
<div class="pop-position">
  <div class="client-update in">
    <div class="dialog  modal-bottom popup-tableScroll">
      <div class="white" style="width: 100%;">
        <div class="row col-md-12 p-0 grey">
          <span class="col-md-10 col-sm-10 p-0">
            <div class="heading-panel pl-10">
              <span class="text-sm text-ellipsis heading-txt flex">Client Updates</span>
            </div>
          </span>
          <span class="pull-right text-right col-md-2 col-sm-2 pv-10 cursor" (click)="closeModel()">
            <i class="fa fa-times" aria-hidden="true"></i>
          </span>
        </div>
        <div class="col-md-12 p-0">

          <div class="sticky-table sticky-ltr-cells popup-table-height">
            <ag-grid-angular [enableSorting]="true" [enableColResize]="true" [defaultColDef]="defaultColDef"
              [enableFilter]="true" [pagination]="true" [paginationPageSize]="15" class="ag-theme-balham grid-w"
              [rowData]="ClientUpdateData" [columnDefs]="columnDefs" [suppressDragLeaveHidesColumns]="true"
              [suppressDragLeaveHidesColumns]="true" [rowSelection]="rowSelection" (gridReady)="onGridReady($event)"
              [suppressColumnVirtualisation]="true" [frameworkComponents]="frameworkComponents"
              (cellValueChanged)="onCellClicked($event)">
              <!--
                commented for betterment
                 (cellClicked)='onCellClicked($event)' 
                -->
            </ag-grid-angular>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-comment-confirmation *ngIf="showClientInstructionCommentModal && activeRow" [activeRow]="activeRow" (close)="closeCommentModal()">
</app-comment-confirmation>