.pop-bg {
  background: #000000b8;
  /* position: absolute; */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  opacity: 1;
  padding-right: 6px;
  overflow-x: hidden;
  z-index: 1000;
  overflow-y: inherit;
  /* z-index: 1050; */
}

// .pop-position {
//   background: white;
//   margin: auto;
//   width: 65%;
//   position: absolute;
//   /* -webkit-transform: translate(0, 50%); */
//   z-index: 1000;
//   left: 0px;
//   right: 0;
//   top: 5%;
//   /* bottom: 43px; */
// }

#headerSection {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
}
#assignContainer {
  width: 100%;
  // position: relative;
  // min-height: 25vh;
  // max-height: 100vh;
  // overflow-y: auto;
  // overflow-x: hidden;
}
#footerSection {
  text-align: center;

  .row {
    float: right;
    margin: 1rem 2rem;
    button {
      margin: 0 0.5rem;
    }
  }
}

// .multiselect-dropdown .dropdown-btn {
//   // display: inline-block;
//   // border: 1px solid #adadad;
//   // width: 100%;
//   // padding: 6px 12px;
//   // margin-bottom: 0;
//   // font-size: 12px;
//   // font-weight: 400;
//   // line-height: 1.1;
//   // text-align: left;
//   // vertical-align: middle;
//   // cursor: pointer;
//   // background-image: none;
//   // border-radius: 4px;
// }

.menuItem {
  min-height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
