.pop-bg {
  background: #000000b8;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  opacity: 1;
  padding-right: 6px;
  overflow-x: hidden;
  z-index: 100;
  overflow-y: inherit;
  /* z-index: 1050; */
}
.pop-position {
  height: auto;
  background: white;
  margin: auto;
  width: 88%;
  position: fixed;
  /* -webkit-transform: translate(0, 50%); */
  /* transform: translate(0, 120%); */
  z-index: 100;
  left: 0px;
  right: 0;
  // bottom: 12px;
  /* top: calc(100% - 71%); */
}
#inventoryFormContainer {
  display: flex;
  // justify-content: center;
  align-items: center;
  #inventorySearchBtn {
    margin-top: 1.5rem !important;
  }
}
.form-control {
  height: 33px !important;
  border-radius: 0.5rem !important;
  // border: 1px solid;
  // display: block !important;
  // width: 100% !important;
  // padding: 0.375rem 0.75rem !important;
  // font-size: 1rem !important;
  // line-height: 1.5 !important;
  // color: #495057 !important;
  // background-color: #fff !important;
  // background-clip: padding-box !important;
  // border: 1px solid #ced4da !important;
  // border-radius: 0.25rem !important;
  // transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}
::-webkit-input-placeholder {
  color: gray !important;
}

.input-group.date .input-group-addon {
  cursor: pointer;
  color: #666;
  background-color: #ddd;
  border: 1px solid #ccc;
  padding: 0px 8px;
  font-size: 12px;
  height: 25px;
  border-radius: 0px;
}

.cdk-overlay-container {
  z-index: 99999999;
}

.monthFilter {
  min-width: 250px;
  display: flex;
  align-items: center;
  border: 1px solid #2431403b;
  min-height: 25px;
  margin-bottom: 0rem;
  text-align: right;
  padding-left: 1rem;
  padding: 1rem;
  .trigger {
    position: absolute;
    right: 6px;
  }
}
