.pop-bg {
  background: #000000b8;
  /* position: absolute; */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  opacity: 1;
  padding-right: 6px;
  overflow-x: hidden;
  z-index: 1000;
  overflow-y: inherit;
  /* z-index: 1050; */
}
.pop-position {
  /* height: 570px;
    background: white;
    margin: auto;
    width: 65%;
    position: absolute;
    -webkit-transform: translate(0, 50%);
    z-index: 20000;
    left: 0px;
    right: 0;
    bottom: 326px; */
  height: auto;
  background: white;
  margin: auto;
  width: 65%;
  position: fixed;
  /* -webkit-transform: translate(0, 50%); */
  z-index: 1000;
  left: 0px;
  right: 0;
  bottom: 43px;
}
.grey {
  background: #ddd;
  color: #000;
}
.p-0 {
  padding: 0px !important;
}
.heading-panel {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5em 1em;
}
.heading-txt {
  font-size: 18px;
  font-weight: 600;
  height: 20px;
}
.pv-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pt-7 {
  padding-top: 7px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-5 {
  margin-bottom: 5px;
}
.map-pos {
  background: white;
  position: fixed;
  bottom: 37px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 66%;
  padding-right: 20px;
}
.mb-40 {
  margin-bottom: 40px;
}

.filInputLabel {
  display: block !important;
  font-weight: 900;
}

.radio-inline {
  padding-left: 1rem;
  margin: 0;
}

.letter-upload-file {
  width: 100% !important;
}

input[type="radio"] {
  vertical-align: middle;
  margin-right: 5px;
}
