<app-header [title]="Title"></app-header>
<app-loading-page *ngIf="showLoading"></app-loading-page>
<div class="container-fluid p-0 white" *ngIf="!showLoading">

  <!-- <div class="col-md-12 col-sm-12 col-sm-12 p-0">
    <div class="col-md-12 col-sm-12 white p-0">
      
    </div>
  </div> -->
  <form class="col-md-12 exception-add mt-10" [formGroup]="addException" (ngSubmit)="submitFrom()">
    <div class="row">
      <ng-container *ngFor="let item of exceptioData; let i = index">
        <div *ngIf="item.Column_Datatype== 'Date'; " class="col-md-6 mb-10">
          <label class=" label-std control-label p-0 b-600 pl-0" for="">{{item.Display_Name}}</label>
          <div class="input-group date" id="datetimepicker1">
            <input type="" formControlName="{{item.Header_Name}}" (keydown)="BlockInput($event)"
              (keypress)="BlockInput($event)" [owlDateTime]="dt" class="form-control" [owlDateTimeTrigger]="dt">
            <span class="input-group-addon" [owlDateTimeTrigger]="dt" value="">
              <span class="fa fa-calendar"></span>
            </span>
            <owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>

          </div>
          <label
            *ngIf="addException.get(item.Header_Name) && addException.get(item.Header_Name).hasError('required') && validated"
            class=" error" for="">This field is required</label>
        </div>

        <div *ngIf="item.Display_Name !='Reference_File_Name' && item.Column_Datatype!= 'Date'"
          class="col-md-6 mb-10">
          <label class=" label-std control-label p-0 b-600 pl-0" for="">{{item.Display_Name}}
            <span class="asteric">*</span></label>
          <input class="form-control" type="item.Column_Datatype" formControlName='{{item.Header_Name}}' #i>
          <label *ngIf="item.Header_Name=='' && validated" class=" error" for="">This field is required</label>
          <label *ngIf=" item.Header_Name && item.Header_Name.length>item.Field_Limit && validated" class=" error"
            for="">Maximum
            {{item.Field_Limit}} character allowed</label>
        </div>
      </ng-container>

    </div>
    <!-- [disabled]="uploadBtnDisable" -->
    <div class="">
      <button type="submit" class="btn blue square-btn blue-hover btn-txt ml-15">Save</button>
      <button type="button" class="btn blue square-btn blue-hover btn-txt " (click)="clearData()">Clear</button>
    </div>

  </form>
  <!-- End container-fliud -->
</div>




<!--File-success popup-->
<div class="modal file-success in" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content" style="width: 100%;">
      <div class="col-md-12 col-sm-12 p-0 text-center">
        <div class="msg-box">
          <div class="msg-content">
            <span class="d-block mb-10">
              <i class="fa fa-file-excel-o mr-10 file-up blue-text" aria-hidden="true"></i>
              <span class="file-up-name">File Successfully upload</span>
            </span>
            <!-- <button class="btn blue square-btn blue-hover btn-txt" data-dismiss="modal">Skip and get new</button> -->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>