<div class="pop-bg">
</div>
<div class="pop-position">
  <div class="fade mystats in">
    <div class="white popup-tableScroll">
      <div class="content white">
        <div class="col-md-12 p-0 grey">
          <span class="col-md-10 col-sm-10 p-0">
            <div class="heading-panel pl-10">
              <span class="text-sm text-ellipsis heading-txt flex">High Priority Accounts</span>
            </div>
          </span>
          <span class="pull-right text-right col-md-2 col-sm-2 pv-10 cursor" (click)="closeModel()">
            <i class="fa fa-times" aria-hidden="true"></i>
          </span>
          <!-- <span class="pull-right text-right col-md-2 col-sm-2 pv-10 cursor" (click)="closeModel()">
              <i class="fa fa-times" aria-hidden="true"></i>
            </span> -->
        </div>
        <div class="col-md-12 p-0">
          <div id="inventoryFormContainer" class="row" style="margin: 0 10px;">
            <div class="col-md-4">
              <div class="form-group mt-10">
                <label class=" label-std control-label p-0 b-600 pl-0" for="">Field List</label>
                <ng-multiselect-dropdown [placeholder]="'Select Field'" [data]="fieldList" [(ngModel)]="activeField"
                  [settings]="fieldSetting" (onSelect)="enableSearch()" (onDeSelect)="enableSearch()">
                </ng-multiselect-dropdown>
              </div>
            </div>
            <div class="col-md-4" *ngIf="activeField && activeField.length>0">
              <div class="form-group mt-10">
                <label class=" label-std control-label p-0 b-600 pl-0" for="">Reference ID
                  <!-- {{activeField[0].Type=='text'}} -->
                </label>
                <!-- IF TEXT -->

                <input type="text" *ngIf="activeField[0].Type=='text'" class="form-control" [(ngModel)]="reference"
                  placeholder="Enter {{activeField[0].Field_Name}}">
                <!-- IF DATE -->
                <div *ngIf="activeField[0].Type=='date'" class='input-group date' id='selectedMonth'>
                  <input style="position: absolute;visibility:hidden;" autocomplete="off" [owlDateTime]="selectedMonth"
                    class="owl-dp form-control" name="selectedMonth" (keydown)="BlockInput($event)"
                    (keypress)="BlockInput($event)" [max]="maxDate" [(ngModel)]="reference">
                  <p class="monthFilter" [owlDateTimeTrigger]="selectedMonth">
                    {{reference | date:'MMMM,dd, y'}}
                    <span class="trigger">
                      <i class="fas fa-calendar-alt"></i>
                    </span>
                    <owl-date-time [pickerType]="'calendar'" #selectedMonth></owl-date-time>
                  </p>
                </div>
                <!-- IF NUMBER -->
                <input type="number" *ngIf="activeField[0].Type=='number'" class="form-control"
                  placeholder="Enter {{activeField[0].Field_Name}}" [(ngModel)]="reference">
              </div>
            </div>
            <div class="col-md-2">

              <div class="form-group mt-10">
                <button id="inventorySearchBtn"
                  [disabled]="activeField==null || reference==null || activeField.length==0 || reference.length==0"
                  type="button" class="btn blue square-btn blue-hover btn-txt"
                  (click)="searchInventoryList()">Search</button>
              </div>
            </div>
          </div>
          <div>
            <ag-grid-angular style="height: 50vh;" [enableSorting]="true" [enableColResize]="true" [enableFilter]="true"
              (rowClicked)="rowClick($event)" [pagination]="true" [paginationPageSize]="15"
              class="ag-theme-balham grid-w" [rowData]="inventoryList" [columnDefs]="columnDefs"
              [suppressDragLeaveHidesColumns]="true" [suppressDragLeaveHidesColumns]="true"
              [suppressColumnVirtualisation]="true" [gridOptions]="gridOptions">
            </ag-grid-angular>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>