.captchaContainer {
  height: 10vh;
  width: 70%;
  margin: auto;

  .captchaText {
    display: flex;
    // border: 1px solid;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
    // filter: invert(200%);
    // mix-blend-mode: difference;
    pointer-events: none;
    .random-char {
      display: inline;
      cursor: not-allowed;
      float: left;
      margin: 0.5rem;
      font-weight: bold;
      font-style: italic;
      font-size: 2.5rem;

      p {
        margin: 0;
      }
    }
  }
}

.controls {
  // width: 180px;
  // border: 1px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 8vh;
  .inputCtrl {
    flex: 1;
    input {
      width: 90%;
      float: left;
    }
    // flex: 4;
    // margin: 0.5em 0.5em 0.5em 0;
  }

  // .refresh {
  //   margin: 0.5em;
  //   flex: 1;
  button {
    float: left;
    padding: 0.3rem 0.8rem;
    font-size: 1.3rem;

    // }
  }
}

.errorSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10vh;
}
