.owl-dp {
  width: 100%;
  height: 25px;
  border: 1px solid #2431403b;
  padding: 5px 5px;
  color: black !important;
}

.formLabel {
  font-weight: bold;
  font-size: 1.2rem;
}

.form-group {
  /* padding: 0 0.5rem; */
  margin-right: 10px;
  /* min-width: 15%; */
  /* border: 1px solid; */
}

.form-control {
  /* width: 100%; */
  /* width: 70%; */
}

.formLabel {
  margin-top: 0 !important;
  margin-bottom: 0.1rem !important;
}

ng-multiselect-dropdown {
  min-width: 200px !important;
}
/* .dropdown-btn {
} */
