<!-- <app-header [title]="Title"></app-header> -->
<div class="container-fluid">
    <form *ngIf="concludedForm" [formGroup]="concludedForm" class="row" (ngSubmit)="submitForm()">

        <div *ngIf="concludedForm && concludedForm.value as formValue" class="container-fluid">

            <div class="field">
                <div class="form-group row">
                    <label class="label-std control-label p-0 b-600">
                        Original Claim Billed Date <span class="asteric">*</span>
                    </label>
                    <div class='input-group date' id='originalBilledDateCalendar'>
                        <input placeholder="mm/dd/yyyy" autocomplete="off" class="owl-dp form-control col-md-10"
                            name="originalBilledDateCalendar" [owlDateTime]="originalBilledDateCalendar"
                            (keyup)="BlockInput('Original_Claim_Billed_Date',$event)"
                            (dateTimeChange)="BlockInput('Original_Claim_Billed_Date',$event)"
                            [max]="concludedForm.value.Latest_Claim_Billed_Date"
                            formControlName="Original_Claim_Billed_Date">
                        <span class="input-group-addon col-md-2" [owlDateTimeTrigger]="originalBilledDateCalendar">
                            <span class="fa fa-calendar"></span>
                        </span>
                        <owl-date-time [pickerType]="'calendar'" #originalBilledDateCalendar></owl-date-time>
                    </div>
                    <div *ngIf="(concludedForm.get('Original_Claim_Billed_Date').dirty==true || submitStatus==true)">
                        <div class="error" *ngIf="concludedForm.get('Original_Claim_Billed_Date').hasError('required')">
                            Original Claim Billed Date is required.
                        </div>
                        <div class="error"
                            *ngIf="concludedForm.controls.Original_Claim_Billed_Date.errors as dateError">
                            <span *ngIf="dateError.owlDateTimeMax!=null">
                                Original claim billed date should not be greater than last claim billed date.
                            </span>
                            <span *ngIf="dateError.dateFormat!=null">
                                Original claim billed Date format is Invalid.
                            </span>
                            <span *ngIf="dateError.invalidDate!=null">
                                Original claim billed date is not a valid date
                            </span>
                        </div>
                    </div>

                    <!-- owlDateTimeMax -->
                </div>
            </div>

            <div class="field">
                <div class="form-group row">
                    <label class="label-std  control-label p-0 b-600">
                        Last Claim Billed Date <span class="asteric">*</span>
                    </label>
                    <div class='input-group date' id='lastBilledDateCalendar'>
                        <input placeholder="mm/dd/yyyy" autocomplete="off" class="owl-dp form-control col-md-10"
                            name="lastBilledDateCalendar" [owlDateTime]="lastBilledDateCalendar"
                            (keyup)="BlockInput('Latest_Claim_Billed_Date',$event)"
                            (dateTimeChange)="BlockInput('Latest_Claim_Billed_Date',$event)"
                            formControlName="Latest_Claim_Billed_Date">
                        <span class="input-group-addon col-md-2" [owlDateTimeTrigger]="lastBilledDateCalendar">
                            <span class="fa fa-calendar"></span>
                        </span>
                        <owl-date-time [pickerType]="'calendar'" #lastBilledDateCalendar></owl-date-time>
                    </div>
                    <!-- <div class="error"
                        *ngIf="concludedForm.get('Latest_Claim_Billed_Date').hasError('required') && (concludedForm.get('Latest_Claim_Billed_Date').touched==true || concludedForm.get('Latest_Claim_Billed_Date').dirty==true || submitStatus==true)">
                        Latest Claim Billed Date is required.
                    </div> -->
                    <div *ngIf="(concludedForm.get('Latest_Claim_Billed_Date').dirty==true || submitStatus==true)">
                        <div class="error" *ngIf="concludedForm.get('Latest_Claim_Billed_Date').hasError('required')">
                            Latest Claim Billed Date Billed Date is required.
                        </div>
                        <div class="error" *ngIf="concludedForm.controls.Latest_Claim_Billed_Date.errors as dateError">
                            <span *ngIf="dateError.owlDateTimeMax!=null">
                                Latest Claim Billed Date should not be greater than last claim billed date.
                            </span>
                            <span *ngIf="dateError.dateFormat!=null">
                                Latest Claim Billed Date format is Invalid.
                            </span>
                            <span *ngIf="dateError.invalidDate!=null">
                                Latest Claim Billed Date is not a valid date
                            </span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="field">
                <div class="form-group">
                    <label for="inputEmail3" class="label-std  control-label p-0 b-600">Provider</label>
                    <input placeholder="Enter Provider" type="text" class="form-control" name="provider" id="Provider"
                        cols="30" rows="3" formControlName="Provider">
                </div>
            </div>

            <div class="field">
                <div class="form-group">
                    <label class=" label-std control-label p-0 b-600 pl-0" for="">Rejection <span
                            class="asteric">*</span></label>
                    <div class="radioBorder">
                        <label class="radio-inline">
                            <input type="radio" name="Rejection" id="Rejection_Yes" [value]="true"
                                formControlName="Rejection" (change)="handleRejection()">
                            Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="Rejection" id="Rejection_No" [value]="false"
                                formControlName="Rejection" (change)="handleRejection()">
                            No
                        </label>
                    </div>
                    <div class="error"
                        *ngIf="concludedForm.get('Rejection').hasError('required') && (submitStatus==true)">
                        Rejection is required.
                    </div>
                </div>

            </div>

            <div class="field"
                *ngIf="formValue['Rejection']==null || formValue['Rejection'].length==0 || formValue['Rejection']==true">
                <div class="form-group">
                    <label for="inputEmail3" class="label-std  control-label p-0 b-600">Rejection Reason <span
                            class="asteric">*</span></label>
                    <textarea class="form-control" name="Rejection_Reason" id="Rejection_Reason" cols="30" rows="3"
                        formControlName="Rejection_Reason"></textarea>
                    <div class="error"
                        *ngIf="concludedForm.get('Rejection_Reason').hasError('required') && (submitStatus==true)">
                        Rejection Reason is required.
                    </div>
                </div>
            </div>


            <div *ngIf="formValue['Rejection']==false" class="field">
                <div class="form-group">
                    <label class=" label-std control-label p-0 b-600 pl-0" for="">EOB/ERA Available <span
                            class="asteric">*</span>
                    </label>
                    <div class="radioBorder">
                        <label class="radio-inline">
                            <input type="radio" name="EOB_Available" [value]="true" id="EOB_Available_Yes"
                                formControlName="EOB_Available" (change)="handleEOBAvailabe()">
                            Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="EOB_Available" [value]="false" id="EOB_Available_No"
                                formControlName="EOB_Available" (change)="handleEOBAvailabe()">
                            No
                        </label>
                    </div>
                    <div class="error"
                        *ngIf="concludedForm.get('EOB_Available').hasError('required') && (submitStatus==true)">
                        EOB/ERA Available is required.
                    </div>
                </div>
            </div>

            <div *ngIf="formValue['Rejection']==false && formValue['EOB_Available']==true" class="field">
                <div class="form-group">
                    <label for="inputEmail3" class="label-std  control-label p-0 b-600">Status <span
                            class="asteric">*</span></label>
                    <select class="form-control" id="Status" formControlName="Status" (change)="handleStatus()">
                        <option [ngValue]="" disabled>Select Status</option>
                        <option [ngValue]="undefined" *ngFor="let option of statusList" [value]="option.Status_Name">
                            {{option.Status_Name}}</option>
                    </select>
                    <div class="error" *ngIf="concludedForm.get('Status').hasError('required') && (submitStatus==true)">
                        Status is required.
                    </div>
                </div>
            </div>

            <div class="field" *ngIf="formValue['Rejection']==false && formValue['EOB_Available']==true">
                <div class="form-group">
                    <label for="inputEmail3" class="label-std  control-label p-0 b-600">EOB Posted In Sys <span
                            class="asteric">*</span></label>
                    <div class="radioBorder">
                        <label class="radio-inline">
                            <input type="radio" name="EOB_Posted_in_Sys" id="EOB_Posted_in_Sys_Yes" [value]="true"
                                formControlName="EOB_Posted_in_Sys">
                            Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="EOB_Posted_in_Sys" id="EOB_Posted_in_Sys_No" [value]="false"
                                formControlName="EOB_Posted_in_Sys">
                            No
                        </label>
                    </div>
                    <div class="error"
                        *ngIf="concludedForm.get('EOB_Posted_in_Sys').hasError('required') && (submitStatus==true)">
                        EOB Posted In Sys is required.
                    </div>
                </div>
            </div>

            <div class="field width-60"
                *ngIf="formValue['Rejection']==false && formValue['EOB_Available']==true && (formValue['Status']=='Denied' || formValue['Status']=='Partially Denied')">
                <div class="form-group">
                    <label for="inputEmail3" class="label-std  control-label p-0 b-600">Denial</label>
                    <div class="denialInput">
                        <input type="text" class="form-control" placeholder="Primary Denial *"
                            formControlName="Denial_1" id="Denial_1">
                        <div class="error"
                            *ngIf="concludedForm.get('Denial_1').hasError('required') && (submitStatus==true)">
                            Primary Denial is required.
                        </div>
                    </div>
                    <div class="denialInput">
                        <input type="text" class="form-control" id="Denial_2" placeholder="denial_2"
                            formControlName="Denial_2">
                    </div>
                    <div class="denialInput">
                        <input type="text" class="form-control" id="Denial_3" placeholder="denial_3"
                            formControlName="Denial_3">
                    </div>
                    <div class="denialInput">
                        <input type="text" class="form-control" id="Denial_4" placeholder="denial_4"
                            formControlName="Denial_4">
                    </div>
                    <div class="denialInput">
                        <input type="text" class="form-control" id="Denial_5" placeholder="denial_5"
                            formControlName="Denial_5">
                    </div>


                </div>
            </div>

            <div class="field"
                *ngIf="formValue['Rejection']==false && formValue['EOB_Available']==true  && (formValue['Status']=='Denied' || formValue['Status']=='Partially Denied')">
                <div class="form-group">
                    <label for="inputEmail3" class="label-std  control-label p-0 b-600">Denial Reason (Remark Code)
                        <span class="asteric">*</span></label>
                    <textarea class="form-control" name="denialReason" id="Denial_Reason" cols="30" rows="3"
                        formControlName="Denial_Reason"></textarea>
                    <div class="error"
                        *ngIf="concludedForm.get('Denial_Reason').hasError('required') && (submitStatus==true)">
                        Denial Reason is required.
                    </div>
                </div>
            </div>

            <div class="field"
                *ngIf="formValue['Rejection']==false && formValue['EOB_Available']==true  && (formValue['Status']=='Denied' || formValue['Status']=='Partially Denied')">
                <div class="form-group">
                    <label class="label-std  control-label p-0 b-600">Denial Date <span class="asteric">*</span></label>
                    <div class='input-group date' id='denialDateCalendar'>
                        <input placeholder="mm/dd/yyyy" autocomplete="off" class="owl-dp form-control"
                            name="denialDateCalendar" [owlDateTime]="denialDateCalendar" [max]="maxDate"
                            formControlName="Denial_Date" (keyup)="BlockInput('Denial_Date',$event)"
                            (dateTimeChange)="BlockInput('Denial_Date',$event)">
                        <span class="input-group-addon" [owlDateTimeTrigger]="denialDateCalendar">
                            <span class="fa fa-calendar"></span>
                        </span>
                        <owl-date-time [pickerType]="'calendar'" #denialDateCalendar></owl-date-time>
                    </div>
                    <!-- <div class="error"
                        *ngIf="concludedForm.get('Denial_Date').hasError('required') && (submitStatus==true)">
                        Denial Date is required.
                    </div> -->
                    <div *ngIf="(concludedForm.get('Denial_Date').dirty==true || submitStatus==true)">
                        <div class="error" *ngIf="concludedForm.get('Denial_Date').hasError('required')">
                            Denial Date is required.
                        </div>
                        <div class="error" *ngIf="concludedForm.controls.Denial_Date.errors as dateError">
                            <span *ngIf="dateError.owlDateTimeMax!=null">
                                Denial Date should not be greater than last claim billed date.
                            </span>
                            <span *ngIf="dateError.dateFormat!=null">
                                Denial Date format is Invalid.
                            </span>
                            <span *ngIf="dateError.invalidDate!=null">
                                Denial Date is not a valid date
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="field" *ngIf="formValue['Rejection']==false && formValue['EOB_Available']==true"> -->
            <div class="field">
                <div class="form-group">
                    <label for="inputEmail3" class="label-std  control-label p-0 b-600">Additional Comment Box (Max Char
                        100)</label>
                    <textarea class="form-control" name="Remarks" id="Remarks" cols="30" rows="3"
                        formControlName="Remarks" maxlength="100"></textarea>
                </div>
            </div>

            <!-- Remarks (Max Char 100) -->

            <!-- Denial Reason (Remark Code) -->
            <!-- EOB Posted in Sys -->
            <!-- EOB Posted in Sys -->

        </div>
        <div class="col-md-12 col-xs-12" style="margin-bottom: 2rem;">
            <div class="col-md-12 col-xs-12 text-center p-0">
                <button [disabled]="disableBtn==true" type="button"
                    class="btn blue square-btn blue-hover btn-txt mr-10 mt-15 mb-5 w-51"
                    (click)="clearForm()">Clear</button>
                <button [disabled]="disableBtn==true" type="submit"
                    class="btn blue square-btn blue-hover btn-txt mt-15 mb-5 w-51">Submit</button>
            </div>
        </div>
    </form>
</div>