<app-header [title]="Title"></app-header>
<div class="container-fluid">
  <div class="row mt-10 p-0">
    <div class="col-md-12 p-0" style="border-bottom: 1px solid #dfdfdf;margin-bottom: 1rem;">

      <div class="col-md-3 col-md-offset-3 form-group mr-5">
        <label for="inputEmail3" class="label-std  control-label p-0 b-600">Process</label>
        <select class="form-control">
          <option [ngValue]="undefined" disabled>Select Process</option>
        </select>
      </div>
      <!-- </div> -->

      <!-- <div class="col-md-12 col-xs-12 p-0"> -->
      <div class="col-md-3 form-group mr-5">
        <label for="inputEmail3" class="label-std  control-label p-0 b-600">Configuration</label>
        <select class="form-control">
          <option [ngValue]="undefined" disabled>Select Configuration</option>
        </select>
      </div>
      <!-- </div> -->

      <!-- </div> -->
    </div>

    <div class="col-md-3 col-xs-4 p-0 ueser-crt blue-seprator serpartion-htg"
      >
      <!-- <div class="col-md-12 col-sm-12">
        <div class="heading-panel sT-hight p-0">
          <span class="text-sm text-ellipsis heading-txt t-uppercase blue-text">Concluder Report</span>
        </div>
      </div> -->
      <div class="col-md-12 col-xs-12 p-0 box-heightLG">

        <!-- <div class="col-md-12 col-xs-12 p-0">
          <div class="form-group mh-15 mr-5">
            <label for="inputEmail3" class="label-std  control-label p-0 b-600">Process</label>
            <select class="form-control">
              <option [ngValue]="undefined" disabled>Select Process</option>
            </select>
          </div>
        </div> -->

        <div class="col-md-12 col-xs-12 p-0 mb-5">
          <div class="form-group mh-15 mr-5">
            <label class="label-std  control-label p-0 b-600">Original Claim Billed Date</label>
            <div class='input-group date' id='originalBilledDateCalendar'>
              <input placeholder="mm/dd/yyyy" autocomplete="off" [owlDateTimeTrigger]="originalBilledDateCalendar"
                class="owl-dp form-control" name="originalBilledDateCalendar" [owlDateTime]="originalBilledDateCalendar"
                (keydown)="BlockInput($event)" (keypress)="BlockInput($event)" [max]="maxDate">
              <span class="input-group-addon" [owlDateTimeTrigger]="originalBilledDateCalendar">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
              <owl-date-time [pickerType]="'calendar'" #originalBilledDateCalendar></owl-date-time>
            </div>
          </div>

        </div>

        <div class="col-md-12 col-xs-12 p-0 mb-5">
          <div class="form-group mh-15 mr-5">
            <label class="label-std  control-label p-0 b-600">Last Claim Billed Date</label>
            <div class='input-group date' id='lastBilledDateCalendar'>
              <input placeholder="mm/dd/yyyy" autocomplete="off" [owlDateTimeTrigger]="lastBilledDateCalendar"
                class="owl-dp form-control" name="lastBilledDateCalendar" [owlDateTime]="lastBilledDateCalendar"
                (keydown)="BlockInput($event)" (keypress)="BlockInput($event)" [max]="maxDate">
              <span class="input-group-addon" [owlDateTimeTrigger]="lastBilledDateCalendar">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
              <owl-date-time [pickerType]="'calendar'" #lastBilledDateCalendar></owl-date-time>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-xs-12 p-0 mb-5">
          <div class="form-group mh-15 mr-5">
            <label for="inputEmail3" class="label-std  control-label p-0 b-600">Provider</label>
            <textarea class="form-control" name="provider" id="" cols="30" rows="3"></textarea>
          </div>
        </div>

        <div class="col-md-12 col-xs-12 p-0 mb-5">
          <div class="form-group mh-15 mr-5">
            <label class=" label-std control-label p-0 b-600 pl-0" for="">Rejection</label>
            <div class="radioBorder">
              <label class="radio-inline">
                <input type="radio" name="type" value="yes">
                Yes
              </label>
              <label class="radio-inline">
                <input type="radio" name="type" value="no">
                No
              </label>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-xs-12 p-0 mb-5">
          <div class="form-group mh-15 mr-5">
            <label for="inputEmail3" class="label-std  control-label p-0 b-600">Rejection Reason</label>
            <textarea class="form-control" name="provider" id="" cols="30" rows="3"></textarea>
          </div>
        </div>


        <div class="col-md-12 col-xs-12 p-0 mb-5">
          <div class="form-group mh-15 mr-5">
            <label class=" label-std control-label p-0 b-600 pl-0" for="">EOB Available</label>
            <div class="radioBorder">
              <label class="radio-inline">
                <input type="radio" name="eob" value="yes">
                Yes
              </label>
              <label class="radio-inline">
                <input type="radio" name="eob" value="no">
                No
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xs-12 p-0 mb-5">
          <div class="form-group mh-15 mr-5">
            <label for="inputEmail3" class="label-std  control-label p-0 b-600">Status</label>
            <select class="form-control">
              <option [ngValue]="undefined" disabled>Select Status</option>
            </select>
          </div>
        </div>

        <div class="col-md-12 col-xs-12 p-0 mb-5">
          <div class="form-group mh-15 mr-5">
            <label for="inputEmail3" class="label-std  control-label p-0 b-600">EOB Posted in Sys</label>
            <div class="radioBorder">
              <label class="radio-inline">
                <input type="radio" name="eob" value="yes">
                Yes
              </label>
              <label class="radio-inline">
                <input type="radio" name="eob" value="no">
                No
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xs-12 p-0 mb-5">
          <div class="form-group mh-15 mr-5">
            <label for="inputEmail3" class="label-std  control-label p-0 b-600">Denial</label>
            <input type="text" class="form-control denialInput" placeholder="denial_1">
            <input type="text" class="form-control denialInput" placeholder="denial_1">
            <input type="text" class="form-control denialInput" placeholder="denial_1">
            <input type="text" class="form-control denialInput" placeholder="denial_1">
            <input type="text" class="form-control denialInput" placeholder="denial_1">


          </div>
        </div>
        <div class="col-md-12 col-xs-12 p-0 mb-5">
          <div class="form-group mh-15 mr-5">
            <label for="inputEmail3" class="label-std  control-label p-0 b-600">Denial Reason (Remark Code)</label>
            <textarea class="form-control" name="denialReason" id="" cols="30" rows="3"></textarea>
          </div>
        </div>
        <div class="col-md-12 col-xs-12 p-0 mb-5">
          <div class="form-group mh-15 mr-5">
            <label class="label-std  control-label p-0 b-600">Denial Date</label>
            <div class='input-group date' id='denialDateCalendar'>
              <input placeholder="mm/dd/yyyy" autocomplete="off" [owlDateTimeTrigger]="denialDateCalendar"
                class="owl-dp form-control" name="denialDateCalendar" [owlDateTime]="denialDateCalendar"
                (keydown)="BlockInput($event)" (keypress)="BlockInput($event)" [max]="maxDate">
              <span class="input-group-addon" [owlDateTimeTrigger]="denialDateCalendar">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
              <owl-date-time [pickerType]="'calendar'" #denialDateCalendar></owl-date-time>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xs-12 p-0 mb-5">
            <div class="form-group mh-15 mr-5">
              <label for="inputEmail3" class="label-std  control-label p-0 b-600">Remarks (Max Char 100)</label>
              <textarea class="form-control" name="Remarks" id="" cols="30" rows="3"></textarea>
            </div>
          </div>
        <!-- Remarks (Max Char 100) -->

        <!-- Denial Reason (Remark Code) -->
        <!-- EOB Posted in Sys -->
        <!-- EOB Posted in Sys -->
        <div class="col-md-12 col-xs-12" style="margin-bottom: 2rem;">
          <div class="col-md-12 col-xs-12 text-center p-0">
            <button type="button" class="btn blue square-btn blue-hover btn-txt mr-10 mt-15 mb-5 w-51"
              (click)="clearForm()">Clear</button>
            <button type="submit" class="btn blue square-btn blue-hover btn-txt mt-15 mb-5 w-51" data-toggle="modal"
              data-target=".skip-ac" [disabled]="submitBtnDisable">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="col-md-12 col-sm-12 p-0">
        <div class="heading-panel sT-hight p-0">
          <!-- <span class="text-sm text-ellipsis heading-txt t-uppercase blue-text">Report </span> -->
          <div class="right-most">Total Rows:- <b>{{rowData == null ? '0' : rowData.length}}</b></div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 p-0">
        <div class="table-responcive">
          <div class="sticky-table sticky-ltr-cells border-0 table-hight">
            <ag-grid-angular style="height: 65vh;" [enableColResize]="true" [enableSorting]="true" [enableFilter]="true"
              [pagination]="true" [paginationPageSize]="15" class="ag-theme-balham grid-w" [rowData]="rowData"
              [columnDefs]="columnDefs" (cellClicked)='onCellClicked($event)' [suppressDragLeaveHidesColumns]="true"
              [suppressColumnVirtualisation]="true" [rowSelection]="rowSelection" (firstDataRendered)="autoSizeAll()"
              (gridReady)="onGridReady($event)">
            </ag-grid-angular>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>