<div class="tab-content nav-tab-content">
  <div class="form-container">
    <div role="tabpanel" class="tab-pane" id="step-2">

      <div class="col-md-12 p-0">
        <div class="provider-process">
          <div class="col-md-9 btnCOntainer">
            <span>
              <label class="export-btn label grey lg-text label-info square-btn cursor" (click)="openPopup()"
                data-target=".add-saag-master">
                <i class="fa fa-plus mr-5 lg-text" aria-hidden="true"></i>Add</label>
            </span>
          </div>
          <div class="col-md-3 p-0">
            <span class="pull-right pt-8  w-auto" *ngIf="ClientData">
              <b>Client Name :-

                {{ClientData.Client_Name}}</b>
            </span>
          </div>
        </div>
      </div>
      <div class="right-most mr-5">Total Rows:- <b>{{rowData == null ? '0' : rowData.length}}</b></div>
      <div style="max-height: 55vh;" class="col-md-12 p-0">
        <div class="col-md-12">
        </div>
        <div class="col-md-offset-2 col-md-8 p-0">
          <div class="border-0">
            <div class="col-md-12 p-0 client-inv-sticky">

              <div class="sticky-table sticky-ltr-cells border-0" style="padding-bottom:0px !important">
                <table class="table">
                  <thead>
                    <tr class="sticky-header">
                      <th>Display Header</th>
                      <th>Column Data Type</th>
                      <th>Field Limit</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody [formGroup]="addPCNForm">
                    <tr formArrayName="pcnList" *ngFor="let item of addPCNForm.get('pcnList').controls; let i = index;">
                      <ng-container [formGroupName]="i">
                        <td *ngIf="item.controls.Display_Header as displayHeaderControl">
                          <input class="form-control" maxlength="200" type="text" placeholder="Enter Display Header"
                            formControlName="Display_Header" (keyup)="checkIfAlreadyExist(displayHeaderControl, i)">
                          <label
                            *ngIf="(displayHeaderControl.dirty==true || displayHeaderControl.touched==true) && displayHeaderControl.errors"
                            class="error" for="">
                            <span *ngIf="displayHeaderControl.errors.required==true">
                              Display Header is required
                            </span>
                            <span *ngIf="displayHeaderControl.errors.incorrect==true">
                              Display Header Already Exists
                            </span>
                          </label>
                        </td>
                        <td *ngIf="item.controls.Column_Data_Type as columnDataTypeControl">
                          <select class="form-control" name="" id="" formControlName="Column_Data_Type">
                            <option [value]="''">Select Column Data Type</option>
                            <option [value]="'Text'">Text</option>
                            <option [value]="'Numeric'">Numeric</option>
                            <option [value]="'Date'">Date</option>
                          </select>
                          <label
                            *ngIf="(columnDataTypeControl.dirty==true || columnDataTypeControl.touched==true) && columnDataTypeControl.errors && columnDataTypeControl.errors.required==true"
                            class="error" for="">
                            Column Data Type is required
                          </label>
                        </td>
                        <td *ngIf="item.controls.Field_Limit as fieldLimitControl">
                          <input class="form-control" min="0" max="1000" type="number" placeholder="Enter FieldLimit"
                            formControlName="Field_Limit">
                          <label
                            *ngIf="(fieldLimitControl.dirty==true || fieldLimitControl.touched==true) && fieldLimitControl.errors"
                            class="error" for="">
                            <span *ngIf="fieldLimitControl.errors.required==true">
                              Field Limit is required
                            </span>
                            <span *ngIf="fieldLimitControl.errors.pattern!=null">
                              Enter Valid Field Limit
                            </span>
                          </label>
                        </td>
                        <td>
                          <button type="button" class="btn blue square-btn blue-hover btn-txt mr-10" (click)="addItem(i)">
                            <i class="fa fa-plus"></i> </button>
                          <button type="button" class="btn blue square-btn blue-hover btn-txt" (click)="removeItem(i)">
                            <i class="fa fa-trash"></i> </button>
                        </td>
                      </ng-container>

                    </tr>
                    <!-- <tr style="text-align: center" *ngIf="rowData==null || rowData.length==0">
                      <td colspan="4">
                        NO PCN Configuration found
                      </td>
                    </tr> -->

                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-12 text-right p-0">
              <button type="button" id="step-1-save" class="btn blue square-btn blue-hover btn-txt mt-10 mb-10 mr-5"
                (click)="submit()">Save</button>
              <button type="button" id="step-2-next" class="btn blue square-btn blue-hover btn-txt mt-10 mb-10 mr-5"
                (click)="navigate()">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-add-pcn-configuration *ngIf="showPopup==true" (save)="saveFields($event)" (close)="closePopup($event)">
</app-add-pcn-configuration>