.btnCOntainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.grid-w {
  height: 100%;
}
.nav-tab-content {
  height: 73vh;
}
.sticky-table {
  max-height: 55vh;
}

td {
  border-bottom: none;
  /* justify-content: center;
  align-items: center;
  display: flex; */
}
