/* You can add global styles to this file, and also import other style files */
/* @import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css"; */
@import "../node_modules/ng-pick-datetime/assets/style/picker.min.css";
html {
  font-size: 70%;
}
.owl-dt-container {
  font-size: 1.5rem !important;
}

.disable-row {
  background: #cfcfcf !important;
  color: #000 !important;
  cursor: not-allowed !important;
}

.highLight-row {
  background-color: #ebf0fd !important;
  color: #000 !important;
  cursor: not-allowed !important;
}

.ag-row-hover {
  /* background: #378eca !important; */
  background-color: #8fcfff !important;
}

#Password {
  -webkit-text-security: disc;
  -moz-text-security: disc;
  font-family: "text-security-disc";
}

html {
  overflow-x: hidden !important;
}

.cdk-overlay-container {
  z-index: 99999999999;
}

.captchaText {
  font-family: monospace !important;
}

.filter-textbox {
  border: 1px solid #ccc !important;
  padding: 5px !important;
  margin: 0px 10px 7px 10px !important;
}

/* captcha code CSS */
.captchaContainer {
  width: 70%;
  margin: auto;
}
.captchaContainer .captchaText {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  user-select: none;
  cursor: not-allowed;
}
.captchaContainer .captchaText .random-char {
  display: inline;
  float: left;
  margin: 0.5rem;
  font-weight: bold;
  font-style: italic;
  font-size: 2.5rem;
}
.captchaContainer .captchaText .random-char p {
  margin: 0;
}
.captchaContainer button {
  color: #fff !important;
  background-color: #0078ae !important;
}
.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 0 10px 0;
}
.controls .inputCtrl {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.controls .inputCtrl input {
  flex: 1;
  width: 90%;
  float: left;
}
.controls .inputCtrl .errorSection {
  flex: 1;
}
.controls button {
  float: left;
  padding: 0.3rem 0.8rem;
  font-size: 1.3rem;
}


/* Global Bootstrap changes */

.row{
  margin: 0 !important;
}