<app-header [title]="Title"></app-header>
<!-- Midd content -->
<div class="col-md-12 col-sm-12 col-sm-12 p-0">
  <div class="">
    <div class="col-md-12 col-sm-12 white p-0 client-assit-b">
      <form class="" role="form">
        <div class="col-md-3 p-0 blue-seprator serpartion-htg">
          <form [formGroup]="InstructionForm" (ngSubmit)="FormSubmit()" novalidate>
            <div class="col-md-12 col-sm-12 mt-10">
              <div class="heading-panel pt-0 pl-0">
                <span class="text-sm text-ellipsis heading-txt t-uppercase blue-text">Instructions</span>
              </div>
            </div>
            <div class="col-md-12 p-0 instruction-gp1">
              <div class="form-group  mh-15">
                <label class=" label-std control-label p-0 b-600 pl-0">Client </label>


                <select formControlName="Client" [disabled]="DisableClientList" name="Client"
                  [(ngModel)]="InstructionModel.Client_Id" (change)="ClientListOnChange($event)" class="form-control">



                  <option [selected]="ClientList.length >1"  value="0" disabled>Select</option>
                  <option *ngFor="let c of ClientList; let i = index" [value]="c.Client_Id" [selected]="c.selected">
                    {{c.Client_Name}}</option>


                </select>

                <div class="error" *ngIf="InstructionForm.get('Client').value < 1 && Validated">
                  Client Selection required
                  {{InstructionForm.setErrors({ 'invalid': true })}}
                </div>
              </div>
              <div class="form-group mh-15">

                <label for="PayerList" class="label-std control-label p-0 b-600">Payer</label>
                <select [disabled]="DisableAll" formControlName="Payer" class="form-control" name="Payer"
                  [(ngModel)]="InstructionModel.Payer_Name">

                  <option value="" [selected]=" (InstructionModel.Payer_Name != null) ||InstructionModel.Payer_Name == ''" disabled>Select</option>
                  <option *ngFor="let item of PayerList; let i = index" [value]="item.Value" [selected]="item.selected ">
                    {{item.Value}} </option>
                </select>

                <div class="error" *ngIf="InstructionForm.get('Payer').value < 1 && Validated">
                  Payer Selection required
                  {{InstructionForm.setErrors({ 'invalid': true })}}
                </div>
              </div>


              <div class="form-group mh-15">
                <label for="PracticeList" class="label-std control-label p-0 b-600">Practice</label>
                <select [disabled]="DisableAll" formControlName="Practice" class="form-control" name="Practice"
                  [(ngModel)]="InstructionModel.Practice_Name">
                  <option value="1" [selected]="!InstructionModel.Practice_Name" disabled>Select</option>
                  <option *ngFor="let item of PracticeList; let i = index" [value]="item.Value"
                    [selected]="item.selected">{{item.Value}} </option>
                </select>


                <div class="error" *ngIf="InstructionForm.get('Practice').value < 1 && Validated">
                  Practice Selection required
                  {{InstructionForm.setErrors({ 'invalid': true })}}
                </div>
              </div>
              <div class="form-group mh-15">
                <label for="ProviderList" class="label-std control-label p-0 b-600">Provider</label>
                <select [disabled]="DisableAll" formControlName="Provider" class="form-control" name="Provider"
                  [(ngModel)]="InstructionModel.Provider_Name">
                  <option value="" [selected]="!InstructionModel.Provider_Name" disabled>Select</option>
                  <option *ngFor="let item of ProviderList; let i = index" [value]="item.Value"
                    [selected]="item.selected">{{item.Value}}</option>
                </select>
                <div class="error" *ngIf="InstructionForm.get('Provider').value < 1 && Validated">
                  Provider Selection required
                  {{InstructionForm.setErrors({ 'invalid': true })}}
                </div>
              </div>


              <div class="form-group mh-15">
                <label for="Instruction" class="label-std  control-label p-0 b-600">Instruction
                </label>
                <textarea [disabled]="DisableAll" formControlName="Instruction" rows="6" maxlength="3000"
                  name="Instruction" class="form-control textarea-resize" [(ngModel)]="InstructionModel.Instructions"
                  placeholder="Enter Instructions here"></textarea>
                <div class="error" *ngIf="InstructionForm.get('Instruction').hasError('required') && Validated">
                  Instructions required
                </div>
              </div>
              <div class="form-group mh-15">
                <div class="col-md-12 p-0">
                  <span class="col-md-6 p-0 text-left">
                    <label class="custom-control client-conf">
                      <input [disabled]="DisableAll" [(ngModel)]="InstructionModel.Is_Active" name="IsActive"
                        formControlName="IsActive" type="checkbox" id="ac-active">
                      <label for="ac-active">Is Active</label>
                    </label>
                  </span>
                </div>
                <div class="error" *ngIf="ShowRoleError">
                  {{RoleMessage}}
                </div>
              </div>
              <div class="col-md-12 text-left mt-5">
                <button type="submit" [disabled]="DisableAll || !canEdit" class="btn blue square-btn blue-hover btn-txt"
                  id="toast-btn">Save</button>
                <button type="button" [disabled]="DisableAll" (click)="ClearData()"
                  class="btn blue square-btn blue-hover btn-txt ">Clear</button>
                  <div class="error" *ngIf="!canEdit && selectedRecord"> This role cannot edit this instruction</div>
              </div>
             
            </div>
          </form>
        </div>
        <div class="col-md-9">
          <div class="col-md-12 col-sm-12 p-0 mt-10">
            <div class="heading-panel pt-0 pl-0">
              <span class="text-sm text-ellipsis heading-txt t-uppercase blue-text"> Client Instructions</span>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 p-0 insrt-tbl">
            <div class="sticky-table sticky-ltr-cells border-0 table-hight">
              <ag-grid-angular class="ag-theme-balham gd-w" (firstDataRendered)="AutoSizeGrid($event)"
                 (gridReady)="OnGridReady($event)" [rowSelection]="RowSelection"
                [rowData]="RowData" (columnResized)="onColumnResized($event)" [columnDefs]="ColumnDefs"
                [pagination]="true" [paginationAutoPageSize]="true" [enableColResize]="true" [enableSorting]="true"
                [enableFilter]="true" (rowData)="OnGridReady($event)" [suppressColumnVirtualisation]="true"
                (rowClicked)="OnRowClicked($event)" (cellClicked)='onCellClicked($event)'>
              </ag-grid-angular>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <app-count-model *ngIf="viewCountData" [readCountData]="readCountData" (Toggle)="ToggleModal()"></app-count-model>
</div>

<!-- end midd content -->