.gd-w {
  height: 100%;
}

.exportBtn {
  float: right;
}

// #btnContainer{
//     button{
//         margin-right: 0.5rem;
//     }
// }

// .file-upload-wrapper {
//   width: 100%;
// }
.custom-control {
  padding-left: 0;
}
