<app-header [title]="Title"></app-header>
<div class="container-fluid">
    <div class="row global-insurance-sticky">
        <div class="col-md-12 pt-8">
            <form [formGroup]="testForm" class="form-inline" role="form">
                <div class="form-group p-0">
                    <label for="" class="formLabel">Client List &nbsp; </label>
                    <select [disabled]="DisableClientList" (change)="ClientListOnChange($event)" formControlName="Client_Id" #selectedelem class="form-control" [(ngModel)]="ClientId">
                        <option [selected]="ClientList.length >1" disabled>Select</option>
                        <option *ngFor="let c of ClientList" [value]="c.Client_Id" [selected]="c.selected">
                            {{c.Client_Name}}</option>
                    </select>
                    <button [disabled]="DisableInsuranceSearch" (click)="GetAllDetails(selectedelem.value)" class="btn blue square-btn blue-hover btn-txt ml-10">Search</button>
                </div>
            </form>
            <!-- <span class="pull-left pl-7 col-md-12">
                        <span class="pull-left mr-10 pt-5 label-std control-label b-600 w-auto">Client List</span>
                        <span class="pull-left mr-10 pt-3 wt-15">
                            <form [formGroup]="testForm" class="" role="form">
                                <select [disabled]="DisableClientList" (change)="ClientListOnChange($event)"
                                    formControlName="Client_Id" #selectedelem class="form-control" [(ngModel)]="ClientId">
                                    <option [selected]="ClientList.length >1" disabled>Select</option>
                                    <option *ngFor="let c of ClientList" [value]="c.Client_Id" [selected]="c.selected">
                                        {{c.Client_Name}}</option>
                                </select>
                            </form>
                        </span>
                        <span>
                            <button [disabled]="DisableInsuranceSearch" (click)="GetAllDetails(selectedelem.value)"
                                class="btn blue square-btn blue-hover btn-txt mr-10 mt-4">Search</button>
                        </span>
                    </span> -->
        </div>
        <div class="col-md-12 col-sm-12 p-0 row border-t global-mapping">
            <div class="col-md-6 blue-seprator serpartion-h">
                <div class="col-md-12 p-0">
                    <div class="heading-panel sT-hight pl-0">
                        <span class="text-sm text-ellipsis heading-txt t-uppercase blue-text">Client Insurance</span>
                        <div>Total Rows:- <b>{{ClientRows == null ? '0' : ClientRows.length}}</b></div>
                    </div>
                </div>
                <div class="col-md-12 p-0">
                    <div class="table-responcive">
                        <div class="sticky-table sticky-ltr-cells border-0 table-hight sticky-table-h">
                            <ag-grid-angular [rowSelection]="RowSelection" [enableFilter]="true" (gridReady)="OnClientGridReady($event)" (rowClicked)="OnClientRowClicked($event)" (firstDataRendered)="autoSizeCGrid($event)" [enableColResize]="true" class="ag-theme-balham grid-w"
                                [enableSorting]="true" [rowData]="ClientRows" [suppressColumnVirtualisation]="true" [suppressDragLeaveHidesColumns]="true" [pagination]="true" [paginationPageSize]="15" [columnDefs]="CommonHeaders">
                            </ag-grid-angular>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 p-0">
                    <div class="heading-panel sT-hight pl-0 pr-0">
                        <span class="text-sm text-ellipsis heading-txt t-uppercase blue-text">Global Insurance</span>
                        <div class="total-p">Total Rows:- <b>{{GLobalRows == null ? '0' : GLobalRows.length}}</b></div>
                        <span>
                            <button *ngIf="ShowAddButton" (click)="AddNewGlobalInsurance()"
                                class="btn blue square-btn blue-hover btn-txt">Add</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-12 p-0">
                    <div class="table-responcive">
                        <div class="sticky-table sticky-ltr-cells border-0 table-hight sticky-table-h">
                            <ag-grid-angular (rowSelected)="onRowSelected($event)" [rowSelection]="RowSelection" [enableFilter]="true" [enableColResize]="true" (gridReady)="OnGlobalGridReady($event)" (firstDataRendered)="autoSizeGGrid($event)" class="ag-theme-balham grid-w" [enableSorting]="true"
                                [rowData]="GLobalRows" [suppressColumnVirtualisation]="true" [suppressDragLeaveHidesColumns]="true" [pagination]="true" [paginationPageSize]="15" (rowClicked)="OnGlobalRowClicked($event)" [columnDefs]="GlobalHeaders">
                            </ag-grid-angular>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
</div>

<app-mapping-modal *ngIf="DisplayModal" (ApiCallback)="RefreshOnMap($event)" (Toggle)="ToggleModal($event)" [SelectedClient]="SelectedClientInsurance" [SelectedGlobal]="SelectedGlobalInsurance"></app-mapping-modal>