<div id="headerSection" [hidden]="showHeader==false" class="top-header white border-b">
  <span class="brand-logo">
    <img src="../../../assets/images/logo_156.png" class="logo-img">
  </span>
  <span class="text-center page-title grey-text">{{title}} <span
      *ngIf="activeReasonBucket">{{activeReasonBucket}}</span></span>

  <div class="utilitySection">
    <!-- https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQLwb629K3S0fWbkdTSQCnE7YacNQLGrm_X6w&usqp=CAU  OLD-->
    <!-- https://cdn.pixabay.com/photo/2014/03/25/16/54/button-297546_640.png NEW -->
    <div class="priorityBtn" title="Project & Priority" (click)="openProjectAndPriorityModal()">
      <div class="text">
        Project & Priorities
        <div class="count">
          <i style="background: transparent;color:#fff" *ngIf="projectListStatus==true"
            class="fa fa-refresh fa-spin"></i>
          <span *ngIf="projectListStatus==false">
            {{projectList.length || 0}}
          </span>
        </div>
      </div>

    </div>

    <img (click)="Logout()" title="Log Out" src="../../../assets/images/log-out.png" alt="">
    <!-- <i (click)="Logout()" title="Log Out" class="fa fa-power-off fa-2x" style="margin: 0 1rem" aria-hidden="true"></i> -->
    <!-- <i (click)="hideHeader()" title="Full Screen" class="fa fa-window-maximize fa-2x" aria-hidden="true"></i> -->

  </div>
</div>

<!-- <div class="exitMessage"> -->
<div class="exitMessage" *ngIf="showExitMessage==true">
  <p>Press <span style="border: 1px solid #fff;">Esc</span> to Exit full screen</p>
</div>