.grid-w {
  height: 100%;
}

.pop-bg {
  background: #000000b8;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  opacity: 1;
  padding-right: 6px;
  overflow-x: hidden;
  z-index: 1000;
  overflow-y: inherit;
}
.pop-position {
  height: auto;
  background: white;
  margin: auto;
  width: 100%;
  position: fixed;

  z-index: 10000000;
  left: 0px;
  right: 0;
  bottom: 42px;
}
.grey {
  background: #ddd;
  color: #000;
}
.p-0 {
  padding: 0px !important;
}
.heading-panel {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5em 1em;
}
.heading-txt {
  font-size: 18px;
  font-weight: 600;
  height: 20px;
}
.pv-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pt-7 {
  padding-top: 7px;
}
.right-most {
  text-align: right;
}
